*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
body{
    width: 1250px;
    margin: 20px auto;
    background-color: #2570f6;
}
header{
    display: flex;
    justify-content: space-between;
}
.main-nav-list{
    display: flex;
}
.main-nav-list li{
    list-style: none;
}
.main-nav-list a{
    text-decoration: none;
    padding: 10px;
}
main{
    display: flex;
    margin-top: 80px;
    align-items: flex-start;
}
aside{
    max-width: 500px;
    text-justify: inter-cluster;
}
aside h2{
    font-size: 40px;
    font-weight: 1000;
}
aside h3{
    font-size: 30px;
    font-weight: 1000;
    color: #ffcc66;
}
aside h4{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 800;
}
button{
    margin-top: 20px;
    padding: 20px 100px;
    background-color: white;
    color: #2570f6;
    border-radius: 10px;
    border: 0px;
    font-weight: 800;
}
article img{
    margin-left: 50px;
}